*{
    margin:0;
    padding:0;
    box-sizing:border-box;   
   }
   body{
       background-color:rgb(4, 16, 187);
       text-align: center;
   }
   .section1{
       background-image: url();
   }
   
   h1{
       background-color:rgb(211, 255, 78);
   }