*{
    margin:0;
    padding:0;
    box-sizing:border-box;   
   }
   body{
       background-color:rgb(227, 255, 86);
       text-align: center;
   }
   .section1{
       background-image: url();
   }
   
   h1{
       background-color:rgb(11, 98, 148);
   }